@using WebApplication1.Models;
@model List<MonAn>

    <div class="menufood col-md-10 marginchangebig">
        <div class="container">
            <div class="row d-flex algin-stretch">
                @{
                    int i = 0;
                    var group = Model.GroupBy(x => Model.IndexOf(x) / 2).ToList();
                    foreach (var parent in group)
                    {
                        i++;
                        if (i % 2 == 1)
                        {
                            foreach (MonAn mon in parent)
                            {

                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/@mon.HinhAnh" style="height: 200px">
                                        <div class="text ">
                                            <h3 class="food-name">@mon.TenMonAn</h3>
                                            <p class="price">@mon.GiaMon đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button" onclick="addToCart(@mon.MaMonAn,1,0,@mon.GiaMon.ToString())" title="Thêm vào giỏ hàng">ĐẶT NGAY</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else if (i % 2 == 0)
                        {
                            foreach (MonAn mon in parent)
                            {

                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">@mon.TenMonAn</h3>
                                            <p class="price">@mon.GiaMon đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button" onclick="addToCart(@mon.MaMonAn,1,0,@mon.GiaMon.ToString())" title="Thêm vào giỏ hàng">ĐẶT NGAY</button>
                                            </div>

                                        </div>
                                        <img class="menu-img img" src="/Content/Image/@mon.HinhAnh" style="height:200px">
                                    </div>
                                </div>
                            }
                        }

                    }
                }


            </div>
        </div>
    </div>    
        
<script src="~/Content/Js/xulymonan_giohang.js"></script>

